{% extends "layout.njk"%}

{% block content %}
    <div class="wrapper">
   
                <main>
                    <h2>Receitas Gourmet</h2>
                    <div class="content">
                        <div class="card">
                            <img src="/img/asinhas.png" alt="">
                            <h3>Asinhas de frango ao BBQ</h3>
                            <p>por Gleydson Steroski</p>
                        </div>
                        <div class="card">
                            <img src="/img/burger.png" alt="">
                            <h3>Triplo bacon burger</h3>
                            <p>por Thiago Fambre</p>
                        </div>
                        <div class="card">
                            <img src="/img/doce.png" alt="">
                            <h3>Docinhos pão-do-céu</h3>
                            <p>por Anderson Negocio</p>
                        </div>
                        <div class="card">
                            <img src="/img/espaguete.png" alt="">
                            <h3>Espaguete ao alho</h3>
                            <p>por Sinara Pé inchado</p>
                        </div>
                        <div class="card">
                            <img src="/img/lasanha.png" alt="">
                            <h3>Lasanha mac n’ cheese</h3>
                            <p>por Sonyelle Rabu-genta</p>
                        </div>
                        <div class="card">
                            <img src="/img/pizza.png" alt="">
                            <h3>Pizza 4 estações</h3>
                            <p>por Diego da Vitoria</p>
                        </div>
                        <div class="card">
                            <img src="/img/food-dinner-lunch-unhealthy-70497.png" alt="">
                            <h3>Dinner Lunch</h3>
                            <p>por Steroski</p>
                        </div>
                        <div class="card">
                            <img src="/img/miolo.png" alt="">
                            <h3>Miolo de Cordeiro</h3>
                            <p>por Angust</p>
                        </div>
                        <div class="card">
                            <img src="/img/peixe.png" alt="">
                            <h3>Atum maltez</h3>
                            <p>por Andrian</p>
                        </div>
                        <div class="card">
                            <img src="/img/sandwiche.png" alt="">
                            <h3>Pão com folhas</h3>
                            <p>por Sin</p>
                        </div>
                        <div class="card">
                            <img src="/img/torta.png" alt="">
                            <h3>Torta cheese</h3>
                            <p>por Bartilhe</p>
                        </div>
                        <div class="card">
                            <img src="/img/porco.png" alt="">
                            <h3>Porco estações</h3>
                            <p>por Chitz kintes</p>
                        </div>
                    </div>

                </main>

        </header>
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-content">
                <a class="close-modal">
                <i class="material-icons">close</i>
                </a>
                <img src="/img/porco.png" alt="">
                <h3>Porco estações ao Caramelo</h3>
                <p>por Chitz kintes</p>
                
                <div class="modal-content">

                </div>
            </div>
        </div>
    </div>


    {% endblock%}